* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  margin: 0;
}

input, button {
  outline: none;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #0a0a0a;
  color: #717171;
  font-size: 24px;
  line-height: 29px;
  padding: 30px 0 29px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  display: none;
}

.menu {
  display: flex;
  align-items:center;
  flex-grow: 1;
  flex-basis: 0;
}

.menu__item + .menu__item {
  margin-left: 30px;
}

.phone {
  flex-grow: 1;
  flex-basis: 0;
  text-align: right;
}

/* ---headline--- */
.headline {
  background-color: #F5F5F7;
  padding: 71px 0 40px;
  text-align: center;
}

.headline__title {
  text-transform: uppercase;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #490E84;
}

.headline__img {
  margin-bottom: 25px;
}

.headline__btn {
  display: inline-block;
  padding: 22px 118px 19px;
  background-color: #490E84;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

/* ---new--- */

.new {
  padding: 87px 0 150px;
}

.new__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new__text p {
  font-size: 14px;
  line-height: 18px;
  color: #0A0A0A;
  margin-bottom: 30px;
  max-width: 560px;
}

.new__text b {
  display: block;
  font-size: 20px;
  line-height: 26px;
  color: #0A0A0A;
  max-width: 560px;
}

.new__image {
  margin-right: 100px;
}

/* ---color--- */

.color {
  padding: 0 0 150px;
}

.phones {
  display: flex;
  justify-content: space-between;
}

.phones__item {
  text-align: center;
}

.phones__item h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #0A0A0A;
  margin: 20px 0 10px;
}

.phones__item p {
  font-size: 14px;
  line-height: 18px;
  color: #0A0A0A;
}

/* ---contacts--- */

.contacts__inner {
  display: flex;
  color: #ffffff;
  background-color: #574B63;
}

.form {
  width: 100%;
  padding: 140px 93px;
  text-align: center;
}

.form__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin: 0 0 62px;
  text-align: left;
}

.form__input {
  display: block;
  border: none;
  border-bottom: 1px solid #ffffff;
  margin: 0 auto 30px;
  padding: 10px 0;
  width: 400px;
  background-color: #574B63;
}

.form__input::placeholder {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.5;
  font-family: 'Inter',
  sans-serif;
  font-weight: 400;
}

.form__text {
  font-size: 14px;
  line-height: 18px;  
  opacity: 0.5;
  margin-bottom: 30px;
}

.form__button {
  display: inline-block;
  padding: 16px 81px;
  background-color: #ffffff;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;  
  color: #490E84;
  border: none;
  cursor: pointer;
}

/* ---footer--- */

.footer {
  background-color: #0A0A0A;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #717171;
  padding: 50px 0;
}

.copyright {
  font-size: 14px;
  line-height: 18px;
  flex-grow: 1;
  flex-basis: 0;
}


.section-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #717171;
  text-align: center;
  margin-bottom: 50px;
}

/* ---@media--- */

@media (max-width: 1200px) {
  .headline__img {
    max-width: 100%;
  }

  .contacts__inner {
    display: block;
  }

  .form__title {
    text-align: center;
  }

  .form__input {
    width: 100%;
  }

  .contacts__img {
    width: 100%;
  }

  .contacts {
    background-color: #574B63;
  }
}

@media (max-width: 1100px) {
 .phones {
   flex-wrap: wrap;
 }

 .phones__item {
   width: 50%;
   margin-bottom: 30px;
 }
}

@media (max-width: 940px) {
  .new__image {
    display: none;
  }

  .new__text p,
  .new__text b {
    max-width: 100%;
  }

  .menu {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background-color: #0A0A0A;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   transform: translateY(-100%);
   transition: .3s ease;
  }

  .menu__item + .menu__item {
    margin-left: 0;
  }

  .menu__item {
    padding: 50px 0;
    font-size: 56px;
  }

  .menu-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: transparent;
    order: 1;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 50;
  }

  .header .logo,
  .header .phone {
    position: relative;
    z-index: 50;
  }

  .btn-line {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 2px;
    transition: .3s ease;
  }

  .btn-line:nth-child(1) {
    top: 0;
  }

  .btn-line:nth-child(2) {
    top: 20px;
  }

  .btn-line:nth-child(3) {
    top: 20px;
  }

  .btn-line:nth-child(4) {
    top: 40px;
  }

  .menu-open .btn-line:nth-child(1) {
    transform: scaleX(0);
  }

  .menu-open .btn-line:nth-child(2) {
    transform: rotate(45deg);
  }

  .menu-open .btn-line:nth-child(3) {
    transform: rotate(-45deg);
  }

  .menu-open .btn-line:nth-child(4) {
    transform: scaleX(0);
  }

  .menu-open .menu {
    transform: translateY(0%);
  }

  .header .phone {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .headline, .new {
    padding: 50px 0;
  }

  .color {
    padding-bottom: 50px;
  }

  .form {
    padding: 50px 70px;
  }
}

@media (max-width: 640px) {
  .footer__inner {
    padding: 20px 0;
    flex-direction: column;
  }

  .footer__inner .logo {
    margin: 15px 0;
  }
}

@media (max-width: 560px) {
  .headline__title {
    font-size: 34px;
    line-height: 42px;
  }

  .headline__btn {
    font-size: 18px;
    line-height: 22px;
    padding: 16px 90px;
  }

  .section-title,
  .form__title {
    font-size: 28px;
    line-height: 32px;
  }

  .phones__item {
    width: 100%;
  }

  .form {
    padding: 50px 30px;
  }

}

@media (max-width: 420px) {
  .nav {
    flex-wrap: wrap;
  }
  .header .phone {
    flex-basis: auto;
    padding: 50px 0;
    order: 3;
    width: 100%;
    background-color: #0A0A0A;
  }

  .menu__item {
    font-size: 32px;
  }
}


@media (max-width: 375px) {
  .form {
    padding: 50px 10px;
  }
}